@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Bungee+Spice:400|Bungee:400|Baloo+Da+2:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61a0daeda28b3fe15342184a.61a0daf07461f1a210cafd1d.zqEEjiL.hcp.png");

@font-face {
  font-family: "Baloo-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Baloo2-Medium.ttf") format("truetype");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
