:root { 
  --black: #000000;
  --chateau-green: #36b84b;
  --fern: #53ae6c;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 13px;
  --font-size-s: 10.9px;
  --font-size-xl: 24.6px;
  --font-size-xs: 8.8px;
  --font-size-xxl: 27.1px;
  --font-size-xxs: 4.2px;
 
  --font-family-baloo-regular: "Baloo-Regular", Helvetica;
  --font-family-baloo_da_2: "Baloo Da 2", Helvetica;
  --font-family-bungee: "Bungee", Helvetica;
  --font-family-bungee_spice: "Bungee Spice", Helvetica;
}
.bungeespice-normal-fern-13px {
  color: var(--fern);
  font-family: var(--font-family-bungee_spice);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.bungeespice-normal-fern-4-2px {
  color: var(--fern);
  font-family: var(--font-family-bungee_spice);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.bungeespice-normal-white-27-1px {
  color: var(--white);
  font-family: var(--font-family-bungee_spice);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.bungeespice-normal-white-8-8px {
  color: var(--white);
  font-family: var(--font-family-bungee_spice);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.bungeespice-normal-white-24-6px {
  color: var(--white);
  font-family: var(--font-family-bungee_spice);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.bungeespice-normal-white-8px {
  color: var(--white);
  font-family: var(--font-family-bungee_spice);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

:root {
}
